.App {
  text-align: center;
}

.container {
  margin-left: 4rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.frames, .scores, .inputs {
  display: flex;
  padding-bottom: 2rem;

  .frame{
    padding: 0 3rem;
    border: 1px solid white;
  }
  .red {
    padding: 0 3rem;
    border: 3px solid rgb(255, 63, 63);
  }
  .score{
    padding: 0 2.7rem;
    border-right: 1px solid white ;
  }
  .input{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .para{
    display: inline;
    padding-left: .2rem;
    padding-right: .2rem;
  }
}

.error{
  color: rgb(255, 108, 108);
}

.reset{
  margin-top: 2rem;
  background-color: rgb(255, 155, 155);
}